@import '../../scss/_mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .notAuthorised {
    margin-top: 3.2rem;
    text-align: center;
  }
  .link {
    @include link;
  }

  .cardsBlock {
    width: 100%;
    padding: 3.2rem 3.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fill);
    gap: 2rem;
    @media only screen and (min-width: 500px) {
      padding: 3.2rem 2.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 830px) {
      padding-top: 4rem;
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 1100px) {
      padding-top: 4.8rem;
      max-width: 133rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .showMoreBtn {
    margin-top: 1rem;
    margin-bottom: 3.2rem;
    @include border(var(--color-black));
    border-radius: var(--border-radius-8);
    padding: 0.8rem 1.6rem;
    @include hover;

    .showMoreText {
      @include font(var(--fs-16), var(--lh-22));
      margin-right: 1.1rem;
    }
    .showMoreImg {
      width: 1.7rem;
      height: 1rem;
    }
    @media only screen and (min-width: 500px) {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }
  }
}
