@import '../../scss/_mixins';

.wrapper {
  width: 100%;
  background-color: var(--color-violet);
  color: var(--color-gray-light);
  .btnWrapper {
    max-width: 136rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .btn {
      margin-top: 1.2rem;
      &-back {
        margin-left: 1.6rem;
      }
      &-exit {
        margin-right: 1.6rem;
      }
      @media only screen and (min-width: 500px) {
        @include font(var(--fs-16), var(--lh-22));
        padding: 0.8rem 1.6rem;
        color: var(--color-gray-light);
        @include border(var(--color-gray-light));
        border-radius: var(--border-radius-8);
        margin-top: 3.2rem;
        &-back {
          margin-left: 1rem;
        }
        &-exit {
          margin-right: 1rem;
        }
      }
    }
  }
}
